.MovieManager {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__actions {
    display: flex;
    justify-content: space-between;
  }
  
  &__filter-control {
    display: flex;
    gap: 10px;
  }
}
