.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;

    .content {
      display: flex;
      gap: 50px;

      .btn-poster {
        position: relative;
        width: 280px;

        .poster {
          display: block;
          width: 100%;
          height: auto;
        }

        .list-btn {
          position: absolute;
          left: 50%;
          bottom: 0%;
          transform: translate(-50%, -50%);
          border: none;

          :hover {
            cursor: pointer;
            background-color: rgb(137, 55, 55);
            display: block;
          }

          display: flex;
          gap: 8px;

          button {
            height: 30px;
            border: none;
            font-weight: bold;
            color: white;
            background-color: rgb(211, 90, 90);
            white-space: nowrap;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        white-space: nowrap;

        justify-content: center;
        gap: 40px;
        font-size: 20px;
        font-weight: bold;
        color: white;
      }
    }

    .body {
      h1 {
        font-weight: bold;
        font-size: 35px;
      }

      display: flex;
      flex-direction: column;
      color: white;
      gap: 10px;

      font-size: 25px;
    }
  }
}
