.navbar {
  display: flex;
  gap: 12px;

  .nav-item {
    position: relative;

    &:hover .nav-sub-items {
      display: flex !important;
      z-index: 9999;
    }

    .nav-item-name {
      font-size: 20px;
      height: 30px;
      border: none;
      font-weight: bold;
      color: white;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }

      .link-item {
        color: white;
        text-decoration: none;
      }
    }

    .nav-sub-items {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      display: none;
      flex-direction: column;
      background: #3e3d41;
    }
  }
}
