.f-title {
  font-size: 20px;
  color: var(--text-black);
  font-weight: bolder;
}

.f-large {
  font-size: 24px;
  color: var(--text-black);
  font-weight: normal;
}

.f-medium {
  font-size: 16px;
  color: var(--text-black);
  font-weight: normal;
}

.f-medium-semibold {
  @extend .f-medium;
  font-weight: 600;
}

.f-small {
  font-size: 14px;
  color: var(--text-black);
  font-weight: normal;
}

// text colors

.text-black {
  color: var(--text-black);
}

.text-primary {
  color: var(--text-primary);
}