.poster_scroll {
    width: 100%;

    height: fit-content;
    position: relative;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
            color: white;
            font-size: 30px;
        }
    }

    .arrow_left {
        left: 0;
    }

    .arrow_right {
        right: 0;
    }

    .content {
        width: 100%;
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        a {
            // flex-basis: calc(100% / 5);
            // width: 200px;
            .poster_item {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: center;

                img {
                    width: 200px;
                    height: 300px;
                }
            }
        }
    }

    .content::-webkit-scrollbar {
        display: none;
        background-color: transparent;
    }
}