.container-navbar-admin {
  display: flex;
  height: auto;

  .navbar-filter-list {
    display: flex;
    gap: 12px;
    position: relative;

    .subItem-category {
      display: none;
    }
  }
}
