.NavItem {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover > &__label-icon {
    text-decoration: underline;
    font-weight: bold;
  }

  &__label-icon {
    display: flex;
    gap: 8px;
    align-items: center;

    &--active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &__label {
    display: flex;
    cursor: pointer;
  }

  &__sub-items {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}