.admin-container {
  display: flex;
  flex-direction: row;

  .right-container {
    width: 100%;
    .body {
      background: white;
      min-height: 500px;
      width: 100%;
      padding: 10px;
    }
  }
  .menu-navbar {
    display: flex;
    width: 0;
    transition: width 0.3s;
  }

  .navbar-show {
    width: 300px
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 100px;
    padding: 10px 30px;

    h1 {
      color: white;
    }

    .body-item {
      display: flex;
      flex-direction: column;

      .list-btn {
        display: flex;
        flex-direction: row;
        gap: 5px;
        button {
          width: 100%;
        }
      }
    }
  }
}
