.episode-container{
  display: flex;
  width: 400px;
  background-color: white;
  .body-episode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px;
    color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    .selected-input-form-episode {
      width: 360px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 20px;
      label {
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
    .selected-input-form-episode-file {
      width: auto;
      display: flex;
      justify-content: space-between;
      margin: 10px 20px;
      flex-basis: 50%;
      flex-direction: column;
      align-items: center;
      .item-file {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
          color: black;
        }
      }
      .video-episode-item {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
      }
      .poster-item-episode {
        margin: 15px;
        width: 50%;
        height: auto;
        align-items: center;
      }
      label {
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }
}
