.episode-container {
  display: flex;
  width: 400px;
  background-color: white;
  .body-episode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    .selectedInputFormEpisode {
      width: 360px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 20px;
      label {
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
    .selectedInputFormEpisodeFile {
      width: auto;
      display: flex;
      justify-content: space-between;
      margin: 10px 20px;
      label {
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .video-episode-item {
        width: 200px;
        height: 300px;
      }
    }
  }
}
.poster-item-episode {
  margin-left: auto;
  width: 200px;
  height: 250px;
}
