.container {
  display: grid;

  gap: 20px;
  justify-content: space-between;
  padding: 1px;

  .item {
    width: 100%;
    background: rgb(85, 83, 87) !important;
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
      text-decoration: none;

      .poster {
        width: 100%;
        display: flex;
        flex-direction: column;

        .img-item-filter {
          overflow: hidden;

          img {
            width: 100%;
            height: 300px;
            max-width: 200px;
            object-fit: cover;
            transition: 0.3s;
          }

          img:hover {
            overflow: hidden;
            transform: scale(1.2);
            filter: brightness(0.6);
          }
        }
      }

      .title-movie {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;

        span {
          color: #fbc50c;
          font-weight: bold;
        }
      }
    }
  }
}
