.container {

    display: grid;
   
    gap: 20px;
    justify-content: space-between;
    padding: 1px;
    .item {
        width: 100%;
        background: rgb(85, 83, 87) !important;
        display: flex;
        flex-direction: row;
        gap: 10px;
        

        .poster {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .title-movie {
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: center;

            a {
                color: rgb(13, 225, 229);
            }
        }
    }

}