.page-container {
  width: 100%;
  margin-top: 30px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  .nav-category
  {
    display: flex ;
    flex-direction: column;
    gap: 15px;
  }
  h{
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  span {
    color: white;
  }
  .article-item {
   
    display: flex;
    gap: 30px;
    Link{
        height: auto;
        width: 100%;
    }
  }
}
