.form {
    .color-label {
        color: white;
    }

    .form-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
        align-items: center;
        gap: 10px;
        background-color: rgb(62, 51, 51);

        .selectedInputForm {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;

            label {
                color: white;
                width: 200px;
            }

            input {
                width: 200px;
            }

            button {
                text-align: center;
            }
        }
    }
}