.container-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;

    .header {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      flex-direction: column;

      video {
        width: 100%;
        max-height: 500px;
      }
      .btn-episode {
        background: #201f1f;
        border-radius: 5px;
        margin-top: 20px;

        width: 100%;
        height: 60px;
        display: flex;
        gap: 10px;
        align-items: center;
        button {
          height: 30px;
        }
      }
    }

    .like-share {
      display: flex;
      justify-content: space-around;

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
      }
    }
    .comment {
      background: white;
      border-radius: 5px;
      padding: 20px;
     .input {
        .title {
          font-weight: bold;
          font-size: 25px;
        }
      }
    }
  }

  .body {
    width: 100%;
    max-width: 800px;
  }
}


