
root{  background: rgb(85, 83, 87) !important;}

.Page
{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background: rgb(85, 83, 87) !important;
    
  
}

.h-fit {
    height: fit-content;
}