.MovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
  animation: shuffle 1s ease-in-out forwards;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px !important;
    transition: 0.3s;
  }

  &__image-container {
    display: flex;
    width: 100%;
    max-width: 190px;
    height: 170px;

    img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    width: 100%;
  }

  @keyframes shuffle {
    0% {
      box-shadow: none;
      transform: rotateY(0deg);
    }
    50% {
      box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    }
    100% {
      box-shadow: none;
      transform: rotateY(360deg);
    }
  }
}