.MovieListSection {
  width: 100%;
  background: var(--primary-bg-color);
  border-radius: var(--cornor-soft);
  padding: 10px;

  &__title {

  }

  &__movies {
    max-width: 100%;
    gap: 12px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}